
p Add
form(action='/jobtitle/add', method='POST')
  input(name='job_title')
  input(type='submit')
p Update
form(action='/jobtitle/update', method='POST')
  input(name='id')
  input(name='job_title')
  input(type='submit')
p Delete
form(action='/jobtitle/delete', method='POST')
  input(name='id')
  input(type='submit')