
mixin App
  doctype html
  //-+License
  //-+Acknowledgment 
  html 
    head
      title RCX : HTML CSS JS
      +App_Style
    body 
      .container
        .row
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#run__manual.btn.btn-success(type='button', onclick='app.runs.input__html()') &#x25BA; Run
              | &nbsp
              input#run__auto(type='checkbox', checked)
              | &nbspAutorun
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#save__manual.btn.btn-primary(type='button', onclick='app.save()') &#128190; Save
              | &nbsp
              input#save__auto(type='checkbox')
              | &nbspAutosave
          .col-xs-4.col-sm-3.col-md-2
            .nav
              button#load.btn.btn-warning(type='button', onclick='app.load()') &#x21bb; Load
              | &nbsp
              input#load__auto(type='checkbox')
              | &nbspAutoload
          .col-xs-12.col-sm-3.col-md-6
            .nav
              #alt__text(style='float: right;') &nbspAlternative Layout
              input#alt__layout(type='checkbox', style='float: right;', onchange='app.altLayout()')
        br
        #app__layout.row
          .col-sm-6
            +App_Input
          .col-sm-6
            +App_Output
      +App_Script

mixin App_Script
  script var dmt = [];
  script(src='/public/js/_vendor/jquery.min.js')
  script(src='/public/js/_vendor/bootstrap.min.js')
  script(src='/public/js/_vendor/rcx/codemirror.js')
  script(src='/public/js/_vendor/rcx/moment.min.js')
  script(src='/public/js/_vendor/rcx/_codemirror/css.js')
  script(src='/public/js/_vendor/rcx/_codemirror/javascript.js')
  script(src='/public/js/_vendor/rcx/_codemirror/xml.js')
  script(src='/public/js/_vendor/rcx/_codemirror/htmlmixed.js')
  script(src='/public/js/_vendor/rcx/_codemirror/lint.js')
  script(src='/public/js/_vendor/rcx/_codemirror/css-lint.js')
  script(src='/public/js/_vendor/rcx/_codemirror/javascript-lint.js')
  script(src='/public/js/_vendor/rcx/jshint.js')
  script(src='/public/js/_vendor/rcx/csslint.js')
  script(src='/public/js/html/_html-css-js.js')
  script(src='/public/js/html/html-css-js.js')
  
mixin App_Style
  link(href='/public/css/_vendor/bootstrap.min.css', rel='stylesheet')
  link(href='/public/css/_vendor/bootstrap.vertical-tabs.min.css', rel='stylesheet')
  link(href='/public/css/_vendor/rcx/codemirror.css', rel='stylesheet')
  link(href='/public/css/_vendor/rcx/blackboard.css', rel='stylesheet')
  link(href='/public/css/_vendor/rcx/lint.css', rel='stylesheet')
  style
    :css
      /*body { font-size: 13px; }*/
      .CodeMirror { width: 100%; height: 600px !important; }
      iframe, #output__error { width:  100%; height: 600px; border: 0px;  }
      .container { padding: 20px  20px  0px  20px; width: 100%; }
      .row { margin: 0px  0px  0px  0px; }
      [class*='col-lg-'], [class*='col-md-'], [class*='col-sm-'], [class*='col-xs-'] {
        padding: 0px  5px  0px  5px; }  
      .btn-file { position: relative; overflow: hidden; }
      .btn-file input[type=file] {
        position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; 
        font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; 
        outline: none; background: white; cursor: inherit; display: block; }
      @media (max-width: 768px) { .container { padding: 10px  5px  5px  5px; width: 100%; }}
