<!DOCTYPE html>
<html>
  <head th:fragment="head">
    <title th:text="${title}" />
    <link href="/css/_vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/_vendor/bootstrap.vertical-tabs.min.css" rel="stylesheet" />
    <link href="/css/_vendor/rcx/codemirror.css" rel="stylesheet" />
    <link href="/css/_vendor/rcx/blackboard.css" rel="stylesheet" />
    <link href="/css/_vendor/rcx/lint.css" rel="stylesheet" />
    <style>
        /*body { font-size: 13px; }*/
        .CodeMirror { width: 100%; height: 600px !important; }
        iframe, #output__error { width:  100%; height: 600px; border: 0px;  }
        .container { padding: 20px  20px  0px  20px; width: 100%; }
        .row { margin: 0px  0px  0px  0px; }
        [class*='col-lg-'], [class*='col-md-'], [class*='col-sm-'], [class*='col-xs-'] {
          padding: 0px  5px  0px  5px; }
        .btn-file { position: relative; overflow: hidden; }
        .btn-file input[type=file] {
          position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%;
          font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0;
          outline: none; background: white; cursor: inherit; display: block; }
    </style>
  </head>
  <body>
    <div th:fragment="script">
      <script th:utext="'var dmt = []; dmt[\'name\'] = \'' + ${name} + '\';'" />
      <script src="/js/_vendor/jquery.min.js"></script>
      <script src="/js/_vendor/bootstrap.min.js"></script>
      <script src="/js/_vendor/rcx/codemirror.js"></script>
      <script src="/js/_vendor/rcx/moment.min.js"></script>
      <script src="/js/_vendor/rcx/_codemirror/css.js"></script>
      <script src="/js/_vendor/rcx/_codemirror/javascript.js"></script>
      <script src="/js/_vendor/rcx/_codemirror/xml.js"></script>
      <script src="/js/_vendor/rcx/_codemirror/htmlmixed.js"></script>
    </div>
  </body>
</html>