<!DOCTYPE html>
<html>
    <head th:include="rcx/main :: head"></head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="nav">
                        <button id="run__manual" type="button" onclick="app.runs.input__html()" class="btn btn-success">&#x25BA; Run</button>&nbsp;
                        <input id="run__auto" type="checkbox" checked="checked"/>&nbsp;Autorun
                    </div>
                </div> 
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="nav">
                        <button id="save__manual" type="button" onclick="app.save()" class="btn btn-primary">&#128190; Save</button>&nbsp;
                        <input id="save__auto" type="checkbox"/>&nbsp;Autosave
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <div class="nav">
                        <button id="load" type="button" onclick="app.load()" class="btn btn-warning">&#x21bb; Load</button>&nbsp;
                        <input id="load__auto" type="checkbox"/>&nbsp;Autoload
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-6">
                    <div class="nav">
                        <div id="alt__text" style="float: right;">&nbsp;Alternative Layout</div>
                        <input id="alt__layout" type="checkbox" style="float: right;" onchange="app.altLayout()"/>
                    </div>
                </div>
            </div><br/>
            <div id="app__layout" class="row">
                <div class="col-sm-6">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab__input__html" data-toggle="tab">HTML</a></li>
                        <li><a href="#tab__input__css" data-toggle="tab">CSS</a></li>
                        <li><a href="#tab__input__js" data-toggle="tab">JavaScript</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab__input__html" class="tab-pane active">
                            <textarea id="input__html">{{ $rcx->input__html }}</textarea><br />
                            <button type="button" onclick="app.exports.input__html()" class="btn">&#8595; Export</button>&nbsp;&nbsp;<span class="btn btn-default btn-file">
                                &#8593; Import
                                <input type="file" onchange="app.importer(this, &quot;input__html&quot;)" />
                            </span>
                        </div>
                        <div id="tab__input__css" class="tab-pane">
                            <textarea id="input__css">{{ $rcx->input__css }}</textarea><br />
                            <button type="button" onclick="app.exports.input__css()" class="btn">&#8595; Export</button>&nbsp;&nbsp;<span class="btn btn-default btn-file">
                                &#8593; Import
                                <input type="file" onchange="app.importer(this, &quot;input__css&quot;)" />
                            </span>&nbsp;
                            <input id="lint__input__css" type="checkbox" onchange="app.lints.input__css()" checked="checked" />&nbsp;Lint
                        </div>
                        <div id="tab__input__js" class="tab-pane">
                            <textarea id="input__js">{{ $rcx->input__js }}</textarea><br />
                            <button type="button" onclick="app.exports.input__js()" class="btn">&#8595; Export</button>&nbsp;&nbsp;<span class="btn btn-default btn-file">
                                &#8593; Import
                                <input type="file" onchange="app.importer(this, &quot;input__js&quot;)" />
                            </span>&nbsp;
                            <input id="lint__input__js" type="checkbox" onchange="app.lints.input__js()" checked="checked" />&nbsp;Lint
                        </div><br /><br />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab__output__iframe" data-toggle="tab">Iframe</a></li>
                            <li><a href="#tab__output__error" data-toggle="tab">Error</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab__output__iframe" class="tab-pane active">
                                <iframe id="output__iframe"></iframe><br /><br />
                                <button type="button" onclick="app.exports.output__iframe()" class="btn">&#8595; Export</button><br /><br />
                            </div>
                            <div id="tab__output__error" class="tab-pane">
                                <div id="output__error"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="rcx/main :: script"></div>
        <script src="/js/_vendor/rcx/_codemirror/lint.js"></script>
        <script src="/js/_vendor/rcx/_codemirror/css-lint.js"></script>
        <script src="/js/_vendor/rcx/_codemirror/javascript-lint.js"></script>
        <script src="/js/_vendor/rcx/jshint.js"></script>
        <script src="/js/_vendor/rcx/csslint.js"></script>
        <script src="/js/html/_html-css-js.js"></script>
        <script src="/js/html/html-css-js.js"></script>
    </body>
</html>